<div class="">
    <img class="imageDiv img-fluid" [src]="adminLoginImage">
    <div class="loginDiv">
       <div class="text-center text-white"><h2>USER LOGIN</h2> </div>
       <br>
       <div class="formDiv">
        <form #form="ngForm" (ngSubmit)="checkUser(form.value)">
            <label for="EmailInput" class="text-white">Roll Number</label>
            <input  type="email" ngModel id="EmailInput" name="rollnumber" class="form-control" required/>
            <br>
            <label for="PasswordInput" class="text-white">Password</label>
            <input  type="password" ngModel name="password" id="PasswordInput" class="form-control" required/>
            <br><br>
           <div class="text-center d-grid gap-2"> <button class="btn btn-primary loginButton"><strong>Login </strong></button> </div>
        </form>
           <!-- <div  class="text-center"><label><a href="" style="text-decoration: none;">Don't have an Account</a></label></div> -->
             <div class="text-center mt-3" ><strong style="color: red;"> {{notMatch}} </strong></div> 
     </div>
    </div>
</div>

