<app-navbar></app-navbar>
<br>
<div style="margin-left:200px;" class="scrollspy-example bg-body-tertiary p-3 rounded-2">
 <label><strong>Feedback</strong></label>   
 <table  class="table customTable">
    <thead class="text-muted">
      <tr>
        <th scope="col">Houskeeper Name</th>
        <th scope="col">ROOM</th>
        <th scope="col">DATE</th>
        <th scope="col">TIME REQUESTED</th>
        <th scope="col">Feedback</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of AllFeedback">
          <td> {{data.cleanRequest.worker.name}} </td>  
        <td> {{data.student.room}} </td>
        <td> {{data.cleanRequest.date}} </td>
        <td> {{data.cleanRequest.cleanTime}} </td>
        <td> {{data.feedback}} </td>
      </tr>
     
    </tbody>
  </table>

</div>