<app-user></app-user>
<div style="margin-left:16%;">
    <label class="text-muted ms-5 mt-3"><strong>Your Profile</strong></label>
   <button style="margin-left: 500px; font-size: 10px;" class="btn btn-primary">Change Password</button>
  
   <br><br>
    <table  class="table customTable">
        <tbody>
          <tr>
            <td class="text-muted">Roll Number</td>
            <td class="text-muted"> {{studentData.rollnumber}} </td>
          </tr>
          <tr>
            <td class="text-muted">Hostel</td>
            <td class="text-muted"> {{studentData.hostel}} </td>
          </tr>
          <tr>
            <td class="text-muted">Floor</td>
            <td class="text-muted"> {{studentData.floor}} </td>
          </tr>
          <tr>
            <td class="text-muted">Room</td>
            <td class="text-muted"> {{studentData.room}} </td>
          </tr>
        </tbody>
      </table>
</div>
