<app-navbar></app-navbar>

<div style="margin-left:202px;">

    <label class="text-muted ms-5 mt-3"><strong>Allot Housekeeper</strong></label>
    <br><br>
    <form class="row g-3">
        <div class="col-md-2 ms-5">
          <label for="inputEmail4" class="form-label text-muted">Request Id</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-2 ms-5">
          <label for="inputPassword4" class="form-label text-muted">Room No</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-2 ms-5">
            <label for="inputPassword4" class="form-label text-muted">Time Requested</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
          <div class="col-7 ms-5">
            <label for="inputPassword4" class="form-label text-muted">Housekeeper</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
          <div class="col-12 ms-5">
            <button class="btn btn-primary">Submit</button>
          </div>

        </form>
</div>